@charset "UTF-8";
*{
	margin:0px;
	padding:0px;
	
}

nav {
	list-style:none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height:8vh;
	background-color:#504954;
	font-family:"poppins", sans-serif;
}

.logo {
	color: rgb(226,226,226);
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:18px;
}
.nav-links {
	width:40%;
	display:flex;
	justify-content: space-around;
}

.nav-links li {
	list-style:none;
	float:left;
	posotion:relative;
}

.nav-links a {
	color: rgb(226,226,226);
	text-decoration: none;
	letter-spacing:3px;
	font-weight:bold;
	font-size:14px;
}

.burger {
	display:none;
	cursor:pointer;
}

.burger div {
	width:20px;
	height:3px;
	background-color: rgb(226,226,226);
	margin:5px;
	transition: all 0.3s ease;
}

@media screen and(max-width: 1024px) {
	.nav-links {
	width:60%;
	}
}

@media screen and (max-width:768px) {
	body {
	overflow-x:hidden;
	}
	.nav-links {
		position:absolute;
		top:8vh;
		right:0;
		heightr: 92vh;
		background-color:#504954;
		flex-direction:column;
		align-items: center;
		width:50%;
		transform:translateX(100%);	
	}
	.nav-links li {
		opacity:0;
	}
	.burger {
		display:block;
	}
	.nav-active {
		transform:translateX(0%);
	}
	@keyframes navLinkFade {
		from {
			opacity:0;
			transform:translateX(5px);
		}
		to {
			opacity:1;
			transform:translateX(0);
		}		
	}	
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-px, 6px);
}
.toggle .line2 {
	opacity:0;
}
.toggle .line3 {
	transform:rotate(45deg) translate(-px, -6px);
}